.postcode-input-area {
  display: flex;
  flex-direction: column;
  label {
    input {
      height: 1rem;
      width: 10rem;
    }
  }

  span {
    color: red;
  }
}

.postcode-search-result {
  display: flex;
  flex-direction: column;
}
